[submodule "lib/png/PNGdec"]
	path = lib/png/PNGdec
	url = https://github.com/atomic14/PNGdec.git
[submodule "lib/epdiy"]
	path = lib/epdiy
	url = https://github.com/martinberberlin/epdiy-rotation.git
[submodule "lib/pngle"]
	path = lib/pngle
	url = https://github.com/kikuchan/pngle.git
